.game_window {
  position: absolute;
  background-color: lightblue;
  height: 600px;
  width: 400px;
  left: 550px;
  top: 75px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.8);
  /* horizonataloffset verticalosffset blur-radius spread(offset of the blur)  inset*/
  /* realnumber realnumber wholenumber */
}

.birb {
  position: absolute;
  bottom: 250px;
  right: 300px;
  background-color: brown;
  height: 30px;
  width: 30px;
}

.pipes {
  position: absolute;
  background-color: rgb(88, 137, 15);
  width: 60px;
}
