.game_window {
  position: absolute;
  background-color: lightblue;
  height: 600px;
  width: 400px;
  left: 550px;
  top: 75px;
  border-radius: 10px;
}

.birb {
  position: absolute;
  bottom: 250px;
  right: 300px;
  background-color: brown;
  height: 30px;
  width: 30px;
}

.pipes {
  position: absolute;
  background-color: rgb(88, 137, 15);
  width: 60px;
}
